# Virtual environments
**/.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
**/.env

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Chroma
data/chroma/
**/chroma_db/

# Models
models/
.cache/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
